/* Navbar.module.css */

@import "../../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
    background-color: var(--navbar-bg);
    transition: background-color 0.5s; /* Add transition for smooth dark mode toggle */
}

.title {
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
    flex: 1;
    text-align: center;
    margin-bottom: 30px;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.menuItems {
    display: none;
    gap: 47px;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--menu-bg);
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.menuItems.showMenu {
    display: flex;
    opacity: 1;
}

.menuItems a {
    font-size: 25px;
    color: var(--color-text-light);
    text-decoration: none;
}

.menuBtn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 50%;
    margin-bottom: 30px;
}

.menuBtn.active {
    background-color: var(--menu-btn-active-bg);
}

/* Dark mode styles */
.darkMode {
    background-color: var(--dark-mode-bg); /* Change background color for dark mode */
}

.darkModeToggle {
    position: relative;
    margin-right: 20px;
}

.darkModeToggle input {
    display: none;
}

.darkModeToggle label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 50px;
    height: 25px;
    background-color: var(--color-secondary); /* Toggle button background color */
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.darkModeToggle input:checked + label {
    background-color: var(--color-primary); /* Change button color when toggled */
}

.darkModeToggle label:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-text);
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.darkModeToggle input:checked + label:before {
    transform: translateX(23px) translateY(-50%); /* Adjust translateX value */
}


