/* Footer.module.css */

.footer {
  position: relative; /* Change position to relative */
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.social {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.social a {
  color: white;
  margin-left: 10px;
}
